---
---

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  background-color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .5rem;
}

.code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}
